pip install flask
pip install Flask-WTF
pip install flask-login
pip install flask-OAuthlib
pip install flask-mail
pip install alembic
pip install sqlalchemy
pip install sqlalchemy-access
pip install flask-whooshalchemy
pip install flask-babel
pip install guess_language
pip install flipflop
pip install coverage
pip install pymongo
pip install gunicorn
