<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{ title }} - 日報管理システム</title>
    {% else %}
    <title>日報管理システム</title>
    {% endif %}
</head>
<body>
    <div>
        日報管理システム:<a href="/">Home</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('user', username = current_user.Name) }}">Your Profile</a>
            <a href="/auth/logout">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages=get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <i>{{ message }}</i>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>