{% extends 'base.html' %}

{% block content %}
<table>
    <tr valign="top">
        <td><img alt="img" width="40" height="40" src="../static/resources/{{ user.get_imgpath() }}"></td>
        <td><h1>ユーザ : {{ user.Name }}!</h1></td>
    </tr>
</table>
<hr>

<table border="1" class="table-hover">
    <tr>
        <td>日付</td>
        {% for p in person %}
        <td title={{ p.SubPjStage }}>{{ p.ProjectNO }}</td>
        {% endfor %}
    </tr>

    {% for p in person %}
    <tr>
        <td>{{ p.UpdateDate }}</td>
        {% for p1 in person %}
            {% if p.ProjectNO == p1.ProjectNO %}
            <td>{{ p.Hours }}</td>
            {% else %}
            <td></td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

